<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>


    <h3><a href="/">Home</a> | <a href="/popular/all">Popular</a> | <a href="/users/all">Users</a> | <a href="/routes/all">Routes</a> | <a href="/pictures/all">Pictures</a> | <a href="/coordinates/all">Coordinates</a> | <a href="/about/all">About</a></h3>
    <title><%= title %></title>
    <h1>Welcome to Trakker</h1>
</head>

<body style="margin-left:20px;">
    <p>
        If you want to look at routes, pictures, users, or even coordinates head over to their respective pages.</p>
    <p>
        If you are not sure what you want, head over to popular to see some popular users, routes, and pictures. </p>
    <p>
        You can learn more about us <a href="/about/all">here</a>.
    </p>
</body>

</html>
