<%- include("../includes/header.ejs", {title:"About"}); %>

<h1>Trakker</h1>
<p>
    Welcome to the exciting world of personal tracking! With the Trakker web app an individual can keep track of places they have been, things they have seen,
    and their thoughts. Trakker celebrates personal freedom to walk, bike, swim, or even just meander and know where you've been.
</p>
<h3>Why?</h3>
<p>
    Trakker aims to take the hassle out of the government tracking you. With multiple easy steps, you too can be tracked by the government without
    your specific consent. Trakker will keep your images, locations, and routes tied to an e-mail address. As Trakker is a CIA front company,
    it is fitting that data acquisition is as complicated and laborious as possible.
</p>
<br />
<img src="/images/ER_Diagram.png"/>
<img src="/images/Relational_Schema.png"/>

<%- include("../includes/footer.ejs"); %>